/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Main styles */

@font-face {
  font-family: 'bpdots-bold';
  src: url('/fonts/BPdotsBold-webfont.woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'bpdots';
  src: url('/fonts/BPdots-webfont.woff');
  font-weight: normal;
  font-style: normal;
}

html, body {
  height: 100%;
  position: relative;
  text-align: center;
}

input {
  font-family: Arial;
}

body {
  background-color: #111;
  color: #eee;
  font-family: 'bpdots';
}

header {
  background-color: rgba(3, 3, 3, 0.8);
  position: fixed;
  left: 0;
  right: 0;
  padding: 3px;
  z-index: 2;
  font-size: 2rem;
  font-family: 'bpdots-bold';
}

header a {
  text-decoration: none;
  color: #94aab6;
}

#wrapper {
  padding-top: 80px;
  float: left;
  padding-bottom: 50px;
}

#wrapper, footer {
  width: 1170px;
  position: relative;
}

.inner {
  padding: 10px;
  padding-right: 0;
}

.hide {
  display: none;
}

#loader {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(1, 1, 1, 0.9);
  color: #eee;
  text-align: center;
  font-size: 2rem;
  line-height: 5rem;
  padding-top: 20px;
}

.notes, .bars-row {
  width: 945px;
}

.notes {
  height: 20px;
  margin-left: 216px;
}

.bars-row {
  float: left;
}

.bar:hover {
  background-color: #eee;
}

.bar, .note {
  background-color: #888;
  border-radius: 2px;
  border: 2px solid transparent;
  margin: 2px;
  height: 30px;
  width: 25px;
  float: left;
  outline: none;
}

.bar:nth-child(4n - 3) {
  border: 2px solid #B6B6B6;
}

.note span {
  display: block;
  font-family: Arial;
  font-size: 10px;
  bottom: 15px;
  position: absolute;
  margin-left: 50%;
  left: -4px;
}

.note {
  background-color: #333;
  border: 1px solid transparent;
  height: 10px;
  border: 0;
  position: relative;
}

.bar[on="true"] {
  background-color: #10fcff;
}

.playing {
  background-color: #f00;
}

.sample {
  width: 100%;
  float: left;
  clear: both;
  padding: 3px 0;
  margin-bottom: 3px;
  border: 2px solid #222;
}

.sample > span {
  font-size: 18px;
  display: inline-block;
  float: left;
  width: 205px;
  text-align: left;
  padding-left: 10px;
  line-height: 30px;
}

.sequencer {
  float: left;
  width: 100%;
  margin: 10px 0 20px 0;
  position: relative;
  padding-bottom: 5px;
  border-bottom: 2px dashed #333;
}

#play, #pause {
  border: 0;
  border-radius: 2px;
  position: absolute;
  color :#333;
  cursor: pointer;
  font-size: 20px;
  padding: 0;
  left: 2px;
  text-align: center;
  line-height: 55px;
  height: 55px;
  outline: none;
  width: 70px;
}

#pause {
  left: 75px;
}

#new-track {
  font-size: 30px;
  font-weight: 300;
  cursor: pointer;
  border: 0;
  border-radius: 2px;
  width: 50px;
  outline: none;
  color :#333;
}

#play:hover, #pause:hover, #new-track:hover {
  background-color: #222;
  color: #10fcff;
}

#bpm, .notes-current {
  border: 0;
  font-size: 30px;
  background-color: #333;
  color: #10fcff;
  line-height: 60px;
  position: absolute;
  outline: none;
  left: 220px;
  top: 0;
  bottom: 0;
  text-align: center;
}

.delete {
  cursor: pointer;
  background-color: transparent;
  border: 0;
  color: #f00;
  font-size: 30px;
  position: absolute;
  left: 0;
  top: -15px;
  font-family: Arial;
}

.delete:hover {
  color: #fff;
}

#bpm {
  display: block;
  width: 70px;
}

.notes-current {
  left: 145px;
  font-size: 15px;
  height: 20px;
  line-height: 20px;
  top: -2px;
}

footer {
  clear: both;
}

#footer label {
  position: absolute;
  font-size: 25px;
  line-height: 50px;
  left: 170px;
}

#footer {
  background-color: rgba(1, 1, 1, 0.7);
  position: fixed;
  bottom: 0;
  height: 55px;
  left: 0;
  right: 0;
  z-index: 2;
}
